/* 
    GENERAL
*/

/* 
    VARIABLES
*/

:root {
    /* Color Palette */
    
    --light_color:#FFFFFF ;
    --dark_color: #0A0A0A ;
    --hover_color: #0062cc;
    --bg_card_1: #FEE12B;
    --bg_card_2: #FDB813;
    --bg_card_3: #FCA800;
}
